---
layout: /layouts/base.njk
---
{% include "partials/navigation.njk" %}

<div class="inner">
  <div class="parallax2"></div>
  <section class="section section--page-header">
    <div class="page-header--image" style="background-image: url({{ header.image }})">
    </div>

    <div class="container container__wide">
      <div class="page-header--text">
        <h2 class="section-title page-header--heading">{{ header.title}}</h2>
        {{ header.description | markdownify | safe }}
      </div>
    </div>
  </section>

  {% if intro %}
    <section class="section section--page-intro">
      <div class="container">
        <h2 class="section-title">{{ intro.title }}</h2>
        {{ intro.description | markdownify | safe }}
      </div>
    </section>
  {% endif %}

  {{ content | safe }}
</div>
