---
layout: /layouts/base.njk
---
{% include "partials/navigation.njk" %}
<div class="container post-index">
        <h2 class="section-title section-title__large">Our latest news &amp; updates</h2>

            {% for post in collections.posts | reverse  -%}
              <a href="{{ post.url }}" class="post__item">
                <div class="post__item__text">
                  <h3 class="post__item__title">{{ post.data.title }}</h3>
                  <p class="post__item__date">{{ page.date.toDateString() }}</p>
                  <p>{{ post.templateContent | striptags | truncate(75) | safe }}</p>
                  <span class="read-more">Read more</span>
                </div>
              </a>
            {% endfor %}


      </div>
    </section>