---
layout: /layouts/base.njk
---
{% include "partials/navigation.njk" %}

<div class="inner">
  <div class="container post-content">
  <a href="/posts">&larr; Back to all posts</a>
  <p class="post-date">{{ date }}</p>
  <h2 class="section-title">{{ title }}</h2>
    {{ content | safe }}
  </div>
</div>
