button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #426566;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
button:hover, [type=button]:hover, [type=reset]:hover, [type=submit]:hover {
  background-color: #355152;
  color: #fff;
}
button:focus, [type=button]:focus, [type=reset]:focus, [type=submit]:focus {
  outline: 3px solid rgba(66, 101, 102, 0.6);
  outline-offset: 2px;
}
button:disabled, [type=button]:disabled, [type=reset]:disabled, [type=submit]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button:disabled:hover, [type=button]:disabled:hover, [type=reset]:disabled:hover, [type=submit]:disabled:hover {
  background-color: #426566;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375rem;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375rem;
}

input,
select,
textarea {
  display: block;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
}

[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], input:not([type]), textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  transition: border-color 150ms ease;
  width: 100%;
}
[type=color]:hover, [type=date]:hover, [type=datetime]:hover, [type=datetime-local]:hover, [type=email]:hover, [type=month]:hover, [type=number]:hover, [type=password]:hover, [type=search]:hover, [type=tel]:hover, [type=text]:hover, [type=time]:hover, [type=url]:hover, [type=week]:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}
[type=color]:focus, [type=date]:focus, [type=datetime]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, input:not([type]):focus, textarea:focus {
  border-color: #426566;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(66, 101, 102, 0.7);
  outline: none;
}
[type=color]:disabled, [type=date]:disabled, [type=datetime]:disabled, [type=datetime-local]:disabled, [type=email]:disabled, [type=month]:disabled, [type=number]:disabled, [type=password]:disabled, [type=search]:disabled, [type=tel]:disabled, [type=text]:disabled, [type=time]:disabled, [type=url]:disabled, [type=week]:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
[type=color]:disabled:hover, [type=date]:disabled:hover, [type=datetime]:disabled:hover, [type=datetime-local]:disabled:hover, [type=email]:disabled:hover, [type=month]:disabled:hover, [type=number]:disabled:hover, [type=password]:disabled:hover, [type=search]:disabled:hover, [type=tel]:disabled:hover, [type=text]:disabled:hover, [type=time]:disabled:hover, [type=url]:disabled:hover, [type=week]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd;
}
[type=color]::-moz-placeholder, [type=date]::-moz-placeholder, [type=datetime]::-moz-placeholder, [type=datetime-local]::-moz-placeholder, [type=email]::-moz-placeholder, [type=month]::-moz-placeholder, [type=number]::-moz-placeholder, [type=password]::-moz-placeholder, [type=search]::-moz-placeholder, [type=tel]::-moz-placeholder, [type=text]::-moz-placeholder, [type=time]::-moz-placeholder, [type=url]::-moz-placeholder, [type=week]::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder {
  color: #858585;
}
[type=color]:-ms-input-placeholder, [type=date]:-ms-input-placeholder, [type=datetime]:-ms-input-placeholder, [type=datetime-local]:-ms-input-placeholder, [type=email]:-ms-input-placeholder, [type=month]:-ms-input-placeholder, [type=number]:-ms-input-placeholder, [type=password]:-ms-input-placeholder, [type=search]:-ms-input-placeholder, [type=tel]:-ms-input-placeholder, [type=text]:-ms-input-placeholder, [type=time]:-ms-input-placeholder, [type=url]:-ms-input-placeholder, [type=week]:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #858585;
}
[type=color]::placeholder, [type=date]::placeholder, [type=datetime]::placeholder, [type=datetime-local]::placeholder, [type=email]::placeholder, [type=month]::placeholder, [type=number]::placeholder, [type=password]::placeholder, [type=search]::placeholder, [type=tel]::placeholder, [type=text]::placeholder, [type=time]::placeholder, [type=url]::placeholder, [type=week]::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

textarea {
  resize: vertical;
}

[type=checkbox],
[type=radio] {
  display: inline;
  margin-right: 0.375rem;
}

[type=file] {
  margin-bottom: 0.75rem;
  width: 100%;
}

select {
  margin-bottom: 0.75rem;
  width: 100%;
}

[type=checkbox]:focus,
[type=radio]:focus,
[type=file]:focus,
select:focus {
  outline: 3px solid rgba(66, 101, 102, 0.6);
  outline-offset: 2px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  perspective: 2px;
}

.inner {
  position: relative;
  transform-style: preserve-3d;
}

.parallax2 {
  display: block;
  background-image: url(/assets/images/pattern.svg);
  background-size: 100% auto;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  left: 0;
  z-index: -99;
  transform-origin: bottom;
  transform: translateZ(-1px) scale(1.5);
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container__wide {
  max-width: 1152px;
}

.status {
  padding: 3rem;
  font-size: 1.953125em;
  background-color: #CAE8EC;
  margin: 1.5rem 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: 1.2;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.75rem 0.75rem 0.75rem 0;
}

html {
  font-size: 0.75em;
  color: #333;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 960px) {
  html {
    font-size: 0.875em;
  }
}
@media screen and (min-width: 1400px) {
  html {
    font-size: 1em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Butler, Raleway, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75rem;
}

p {
  margin: 0 0 0.75rem;
}

a {
  color: #426566;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  transition: color 150ms ease;
}
a:hover {
  color: #324c4d;
}
a:focus {
  outline: 3px solid rgba(66, 101, 102, 0.6);
  outline-offset: 2px;
}

.section-title {
  color: #5B575A;
  font-weight: 400;
  font-size: 3.0517578125em;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 960px) {
  .section-title br {
    display: none;
  }
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5rem 0;
}

@font-face {
  font-family: "Butler";
  src: url("/assets/fonts/Butler-Medium.woff2") format("woff2"), url("/assets/fonts/Butler-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Semibold.woff2") format("woff2"), url("/assets/fonts/Raleway-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway-Black.woff2") format("woff2"), url("/assets/fonts/Raleway-Black.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: block;
}
@media screen and (min-width: 960px) {
  .mobile-navigation--wrapper {
    display: none;
  }
}
.mobile-navigation--wrapper .mobile-navigation {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #426566;
  transition: transform 450ms;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-navigation--wrapper .mobile-navigation a {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  margin: 0.75rem 0;
  display: block;
  text-align: center;
}
.mobile-navigation--wrapper .mobile-navigation--logo {
  margin-bottom: 1.5rem;
}
.mobile-navigation--wrapper .mobile-navigation--logo img {
  display: block;
  width: 12em;
  height: auto;
}
.mobile-navigation--wrapper .nav-trigger:checked + .mobile-navigation {
  transform: translateX(0%);
}
.mobile-navigation--wrapper .nav-trigger {
  display: none;
}
.mobile-navigation--wrapper .nav-trigger-label {
  position: absolute;
  z-index: 9999;
  top: 1em;
  left: 0.75em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: rgba(66, 101, 102, 0.7);
}
@media screen and (min-width: 960px) {
  .mobile-navigation--wrapper .nav-trigger-label {
    display: none;
  }
}
.mobile-navigation--wrapper .nav-trigger-label svg {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin: 1.25em;
}

.primary-navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  line-height: 1.5rem;
  padding-top: 3rem;
  transition: background-color 900ms, border-bottom 900ms;
  padding-bottom: 1.5rem;
}
.primary-navigation .container {
  display: flex;
  justify-content: space-around;
}
.primary-navigation a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-transform: lowercase;
  margin-top: auto;
  -webkit-font-smoothing: antialiased;
}
.primary-navigation a + a {
  padding-left: 0.75rem;
}
.primary-navigation a:not(.primary-navigation--logo) {
  display: none;
}
@media screen and (min-width: 960px) {
  .primary-navigation a:not(.primary-navigation--logo) {
    display: inline-block;
  }
}
.primary-navigation--logo {
  position: relative;
  width: 9.75rem;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MC4yIiBoZWlnaHQ9IjU3LjciIHZpZXdCb3g9IjAgMCA5MC4yIDU3LjciPjxnIGZpbGw9IiNGRkYiPjxwYXRoIGQ9Ik00MC4zIDU3LjdjLjQtMTAuMy00LjItMjMuMy0xMi42LTI5LjRDMTcuOCAyMS4yIDMuNiAyMi4yIDAgMzVjMTEuNy4zIDI5LjMgNi4yIDQwLjMgMjIuN3pNOTAuMiAzNWMtMy42LTEyLjgtMTcuOC0xMy44LTI3LjctNi43LTguNCA2LTEzIDE5LjEtMTIuNiAyOS40IDExLTE2LjUgMjguNi0yMi40IDQwLjMtMjIuN3pNNTYuMSAxMWMwLTYuMS00LjktMTEtMTEtMTFzLTExIDQuOS0xMSAxMSAxMSAzOC45IDExIDM4LjkgMTEtMzIuOSAxMS0zOC45eiIvPjwvZz48L3N2Zz4=");
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 900ms 900ms;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.primary-navigation--logo img {
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-top: -1.875rem;
  transition: opacity 600ms;
  margin-bottom: -1.125rem;
}
.primary-navigation__home {
  display: none;
}
@media screen and (min-width: 960px) {
  .primary-navigation__home {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    margin-top: -6rem;
  }
}
.primary-navigation.with-background {
  background-color: #426566;
  z-index: 99;
  border-bottom: solid 0.5px rgba(221, 221, 221, 0.25);
}
.primary-navigation.with-background .primary-navigation--logo {
  background-image: none;
}
.primary-navigation.with-background .primary-navigation--logo img {
  opacity: 1;
}
.primary-navigation.with-background a {
  color: white;
}

.site-footer {
  background-color: #426566;
  padding-top: 3rem;
  padding-bottom: 6rem;
  -webkit-font-smoothing: antialiased;
  position: relative;
  z-index: 9;
}
.site-footer .container {
  display: flex;
  flex-direction: row;
  text-align: right;
}
@media screen and (orientation: portrait) {
  .site-footer .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.site-footer .footer-about {
  flex: 0 0 auto;
  margin-right: auto;
}
@media screen and (orientation: portrait) {
  .site-footer .footer-about {
    margin-right: 0;
    margin-bottom: 2.25rem;
  }
}
.site-footer .footer-logo {
  width: 100%;
  max-width: 15rem;
}
.site-footer .footer-menu {
  flex: 0 0 20%;
  color: white;
  margin-bottom: 1.5rem;
}
.site-footer .footer-menu a {
  color: white;
  line-height: 2.25rem;
  display: block;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 150ms;
}
.site-footer .footer-menu a:hover {
  opacity: 1;
}
.site-footer .footer-menu--title {
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
}

.section--page-header {
  margin-top: 6rem;
  padding-bottom: 1.5rem;
  background-color: #CAE8EC;
  background-image: url(/assets/images/pattern2.svg);
  background-size: auto 100%;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .section--page-header {
    text-align: left;
    padding-top: 9rem;
    padding-bottom: 6rem;
  }
  .section--page-header .page-header--text {
    width: calc(574.8502994012px - 3rem);
    max-width: calc(50% - 1.5rem);
    margin-left: 0;
  }
}
@media screen and (min-width: 960px) {
  .section--page-header .container {
    padding-left: 0;
  }
}
.section--page-header .page-header--heading {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.section--page-header .page-header--image {
  height: 50vw;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 960px) {
  .section--page-header .page-header--image {
    margin-bottom: 0;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50vw;
    background-color: whitesmoke;
  }
}

.section--page-intro {
  text-align: center;
  padding-bottom: 6rem;
}
.section--page-intro .container {
  max-width: 720px;
}

.section--page-alert {
  background-color: #CAE8EC;
  padding: 4.5rem;
  max-width: 720px;
  margin: 0 auto 9rem;
}

.home-hero {
  background-image: url(/assets/images/robin.jpg);
  background-size: cover;
  background-position: 33% bottom;
  position: relative;
  z-index: 9;
}
.home-hero .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.home-hero::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
}
.home-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(75, 75, 75, 0.25);
}
.home-hero * {
  z-index: 9;
}

.home-hero--logo {
  width: 15rem;
  margin-bottom: 3rem;
  margin-top: 10.5rem;
}

.home-hero--title {
  font-size: 5.9604644775em;
  font-weight: 400;
  text-transform: lowercase;
  color: white;
  margin: 0 1.5rem;
  text-align: center;
  line-height: 0.8;
}
@media screen and (min-width: 960px) {
  .home-hero--title {
    font-size: 7.4505805969em;
  }
}
.home-hero--title br {
  display: none;
}
@media screen and (min-width: 960px) {
  .home-hero--title br {
    display: block;
  }
}

.intro-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 720px) {
  .intro-row {
    flex-direction: row;
    align-items: center;
  }
}
.intro-row + .intro-row {
  margin-bottom: 4.5rem;
  margin-top: -4.5rem;
}
@media screen and (min-width: 1500px) {
  .intro-row + .intro-row {
    margin-top: -3rem;
  }
}
@media screen and (orientation: portrait) {
  .intro-row + .intro-row {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .intro-row + .intro-row .column + .column {
    padding-right: 1.5rem;
  }
}
.intro-row .column {
  flex: 0 0 55%;
}
.intro-row .column + .column {
  margin-right: -1.5rem;
  margin-top: 0;
}
@media screen and (min-width: 720px) {
  .intro-row .column + .column {
    margin-right: 0;
    margin-top: 0;
    margin-left: -10%;
    z-index: 1;
  }
}
.intro-row .column__intro {
  background-color: #CAE8EC;
  padding: 3rem 1.5rem 3rem 3rem;
  margin-left: -1.5rem;
  z-index: 9;
}
@media screen and (orientation: portrait) {
  .intro-row .column__intro {
    padding: 3rem 1.5rem 3rem 1.5rem;
  }
}
.intro-row .column__intro p:first-child {
  font-size: 1.953125em;
  font-weight: 400;
  font-family: Butler, Raleway, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  line-height: 1.2;
}
@media screen and (orientation: portrait) {
  .intro-row .column__intro p:last-child {
    margin-bottom: 0;
  }
}
.intro-row .column__text > * {
  max-width: 30em;
}
.intro-row .column__portrait {
  z-index: 9;
  display: none;
}
@media screen and (min-width: 720px) {
  .intro-row .column__portrait {
    display: block;
  }
}
.intro-row .column__portrait img {
  max-width: 67%;
  margin-left: 1.5rem;
}
@media screen and (orientation: portrait) {
  .intro-row .column__portrait img {
    max-width: 100%;
    margin-left: 0;
    margin-top: -6rem;
  }
}

.section--explore {
  margin-top: 3rem;
  background-color: #426566;
  color: white;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-image: url(/assets/images/pattern2.svg);
  background-size: 50%;
  border-top: 0.5px solid #ddd;
}
@media screen and (orientation: portrait) {
  .section--explore .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.section--explore--inner {
  -ms-scroll-snap-points-x: repeat(100vw);
      scroll-snap-points-x: repeat(100vw);
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -ms-scroll-snap-destination: 0% 100%;
      scroll-snap-destination: 0% 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}
.section--explore--inner::-webkit-scrollbar {
  height: 0;
}

.section--explore--item {
  scroll-snap-align: start;
  height: 30vw;
  max-height: 40em;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  flex: 0 0 100%;
}
@media screen and (orientation: portrait) {
  .section--explore--item {
    max-height: none;
    height: auto;
    flex-direction: column;
  }
  .section--explore--item .container {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (orientation: portrait) {
  .explore--text {
    padding: 1.5rem 1.5rem 0.75rem;
    background: #CAE8EC;
    color: #333;
    flex: 1 0 auto;
  }
}
@media screen and (orientation: landscape) {
  .explore--text {
    width: 50%;
    padding: 3rem 3rem 3rem 0;
  }
}

.explore--title {
  font-size: 3.0517578125em;
  font-weight: 400;
  text-indent: -0.25em;
  display: none;
}
@media screen and (min-width: 960px) {
  .explore--title {
    display: block;
  }
}

.explore--subtitle {
  font-size: 2.44140625em;
  font-weight: 400;
  margin-bottom: 0;
}
@media screen and (min-width: 960px) {
  .explore--subtitle {
    font-weight: 700;
    font-family: Raleway, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    font-size: 1.25em;
    margin-bottom: 0.75rem;
  }
}

.explore--image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}
@media screen and (orientation: portrait) {
  .explore--image {
    margin: 0;
    width: 100%;
    max-width: none;
    height: 75vw;
  }
}
@media screen and (orientation: landscape) {
  .explore--image {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 750px;
    max-width: 50%;
    height: 100%;
  }
}

.section--explore-navigation {
  border-bottom: 0.5px solid #ddd;
  background-color: white;
}
@media screen and (orientation: portrait) {
  .section--explore-navigation {
    background-color: #CAE8EC;
  }
}
.section--explore-navigation .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 3rem;
}
@media screen and (orientation: portrait) {
  .section--explore-navigation .container {
    justify-content: center;
  }
}
.section--explore-navigation button {
  background-color: transparent;
  color: #426566;
  border-radius: 0;
  border-bottom: 0.25rem solid transparent;
  transition: border-color 150ms;
}
@media screen and (orientation: portrait) {
  .section--explore-navigation button {
    box-sizing: content-box;
    width: 0.6rem;
    height: 0.6rem;
    border: 2px solid transparent;
    border-radius: 50%;
    text-indent: -9999px;
    padding: 0;
    margin: 0.75rem;
    overflow: hidden;
    background-color: white;
  }
  .section--explore-navigation button.active {
    background-color: #426566 !important;
    border: 2px solid #426566;
  }
}
.section--explore-navigation button:focus {
  outline: none;
}
.section--explore-navigation button:hover {
  background-color: #ddd;
}
.section--explore-navigation button.active {
  border-color: #426566;
}

@media screen and (orientation: portrait) {
  .controls {
    display: none;
  }
}
.controls button {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  height: 3rem;
  width: 3rem;
  text-indent: -9999px;
  background-color: #426566;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNi42IiBoZWlnaHQ9IjQ4LjIiIHZpZXdCb3g9IjAgMCAzNi42IDQ4LjIiPjxwYXRoIGZpbGw9InNub3ciIGQ9Ik0xLjIgMjEuN2wyNi0yMWMxLjMtMS4xIDIuNS0xIDMuNi40bDUgNi4xYzEuMSAxLjQuOSAyLjYtLjQgMy42TDE4LjggMjQuMWwxNi42IDEzLjNjMS4zIDEgMS40IDIuMi40IDMuNmwtNSA2LjJjLTEuMSAxLjMtMi4zIDEuNS0zLjYuNGwtMjYtMjAuOUMuNCAyNS45IDAgMjUuMiAwIDI0LjJjMC0uOS40LTEuOCAxLjItMi41eiIvPjwvc3ZnPg==");
}
@media screen and (orientation: portrait) {
  .controls button {
    top: 40%;
  }
}
.controls button[data-direction=forwards] {
  left: auto;
  right: 0.75rem;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNi42IiBoZWlnaHQ9IjQ4LjIiIHZpZXdCb3g9IjAgMCAzNi42IDQ4LjIiPjxwYXRoIGZpbGw9InNub3ciIGQ9Ik0zNS40IDI2LjVsLTI2IDIxYy0xLjMgMS4xLTIuNSAxLTMuNi0uNEwuOCA0MWMtMS4xLTEuNC0uOS0yLjYuNC0zLjZsMTYuNi0xMy4yTDEuMSAxMC45Qy0uMiA5LjktLjMgOC43LjcgNy4zbDUtNi4yQzYuOC0uMiA4LS40IDkuMy43bDI2IDIwLjljLjguNiAxLjIgMS40IDEuMiAyLjMuMSAxLS4zIDEuOS0xLjEgMi42eiIvPjwvc3ZnPg==");
}
.controls button[disabled] {
  cursor: default;
}

.section--project {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.section--project .container {
  position: relative;
}
.section--project .project--image {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
@media screen and (orientation: portrait) {
  .section--project .project--image {
    padding-top: 125%;
  }
}
.section--project .project--image .slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section--project .project--text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.section--project .project--title {
  font-size: 2.44140625em;
  font-weight: 400;
  margin-bottom: 0.75rem;
}
.section--project .project--text {
  padding: 4.5rem 3rem 4.5rem 1.5rem;
  width: 55%;
  position: relative;
  z-index: 1;
}
@media screen and (orientation: portrait) {
  .section--project .project--text {
    padding: 2.25rem;
    width: 90%;
  }
}
.section--project .project--text p {
  margin-bottom: 0;
}
.section--project .project--text::before {
  z-index: -1;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -3rem;
  background-color: #CAE8EC;
}

.slide:nth-child(4) {
  -webkit-animation: xfade 16s 0s infinite;
          animation: xfade 16s 0s infinite;
}

.slide:nth-child(3) {
  -webkit-animation: xfade 16s 4s infinite;
          animation: xfade 16s 4s infinite;
}

.slide:nth-child(2) {
  -webkit-animation: xfade 16s 8s infinite;
          animation: xfade 16s 8s infinite;
}

.slide:nth-child(1) {
  -webkit-animation: xfade 16s 12s infinite;
          animation: xfade 16s 12s infinite;
}

@-webkit-keyframes xfade {
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
}

@keyframes xfade {
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
}
.section--page-cases {
  margin-bottom: 3rem;
}
.section--page-cases .row {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 960px) {
  .section--page-cases .row {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
  }
  .section--page-cases .row:nth-child(2n) .case-study--image {
    order: -1;
    margin-left: 0;
    margin-right: -5%;
  }
  .section--page-cases .row:nth-child(2n) .case-study--text {
    margin-left: -5%;
    margin-right: 5%;
  }
}
.section--page-cases .case-study--image {
  width: 100%;
}
@media screen and (min-width: 960px) {
  .section--page-cases .case-study--image {
    width: 52.5%;
    flex: 0 0 52.5%;
    margin-left: -5%;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
  }
}
.section--page-cases .case-study--image img {
  display: block;
  width: 100%;
}
.section--page-cases .case-study--text {
  background-color: #CAE8EC;
  height: auto;
  padding: 1.5rem;
  position: relative;
}
@media screen and (min-width: 960px) {
  .section--page-cases .case-study--text {
    z-index: 9;
    margin-right: -5%;
    margin-top: auto;
    width: 52.5%;
    flex: 0 0 52.5%;
    margin-left: 5%;
  }
}
.section--page-cases .section-subtitle {
  font-size: 2.44140625em;
}
.section--page-cases .case-study--quote p:first-child {
  font-family: Butler, Raleway, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.3;
  color: #426566;
  font-size: 1.5625em;
}
.section--page-cases .case-study--quote p:first-child::before {
  content: open-quote;
}
.section--page-cases .case-study--quote p:last-child::after {
  content: close-quote;
}

.section--page-plans {
  margin-bottom: 3rem;
  color: #426566;
}
.section--page-plans .row {
  margin-bottom: 3rem;
}
@media screen and (min-width: 960px) {
  .section--page-plans .row {
    display: flex;
    flex-direction: row;
  }
  .section--page-plans .row:nth-child(2n) .plan--image {
    order: -1;
  }
  .section--page-plans .row:nth-child(2n) .plan--text {
    padding-right: 0;
    padding-left: 3rem;
  }
}
.section--page-plans .plan--image {
  width: 100%;
  margin-top: 1.5rem;
}
@media screen and (min-width: 960px) {
  .section--page-plans .plan--image {
    margin-top: 0;
    width: 52.5%;
    flex: 0 0 52.5%;
  }
}
.section--page-plans .plan--image img {
  display: block;
  width: 100%;
}
.section--page-plans .plan--text {
  padding: 0;
  position: relative;
}
@media screen and (min-width: 960px) {
  .section--page-plans .plan--text {
    margin-top: auto;
    margin-bottom: auto;
    z-index: 9;
    width: 47.5%;
    flex: 0 0 47.5%;
    padding-right: 3rem;
  }
}
.section--page-plans .section-pretitle {
  font-family: Butler, Raleway, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin-bottom: 0.75rem;
}
.section--page-plans .section-subtitle {
  font-size: 2.44140625em;
}
.section--page-plans .case-study--quote {
  font-family: Butler, Raleway, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
}

.section--page-activities {
  margin-bottom: 3rem;
}

.activity-item {
  border: 1px solid #ddd;
  background-color: white;
}
.activity-item + .activity-item {
  border-top: none;
}

.activity-item--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
}
.activity-item--header:focus {
  outline-offset: -2px;
}
.activity-item--header:hover {
  background-color: #CAE8EC;
}
.activity-item--header:hover .activity-item--arrow {
  color: #426566;
}
.activity-item--header[aria-expanded=true] .activity-item--arrow {
  transform: rotate(-90deg);
}

.activity-item--arrow {
  margin-left: auto;
  font-family: "Segoe UI Symbol", Arial;
  color: #CAE8EC;
  background-color: none;
  margin-right: 1.5rem;
  font-size: 1.953125em;
  transition: transform 150ms, color 150ms;
}

.activity-item--image {
  margin-right: 1.5rem;
  flex: 0 0 100px;
}
@media screen and (min-width: 960px) {
  .activity-item--image {
    flex: 0 0 150px;
  }
}
.activity-item--image img {
  display: block;
}

.activity-item--text {
  flex: 1 1 auto;
  white-space: normal;
  margin-right: 1.5rem;
}

.activity-item--title {
  font-size: 1.25em;
  color: #426566;
  margin-bottom: 0.75rem;
  font-weight: 700;
}
@media screen and (min-width: 960px) {
  .activity-item--title {
    font-size: 1.5625em;
  }
}

.activity-item--time {
  font-size: 1.25em;
  color: #426566;
  font-weight: 700;
}

.activity-item--content {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  margin-left: calc(100px + 1.5rem);
  max-width: 40em;
}
@media screen and (min-width: 960px) {
  .activity-item--content {
    margin-left: calc(150px + 1.5rem);
  }
}

.section--page-events {
  margin: 3rem 0 6rem;
}
.section--page-events .row {
  border-bottom: 1px solid #ddd;
  padding: 1.5rem 0;
}
@media screen and (min-width: 960px) {
  .section--page-events .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.section--page-events .event--image {
  width: 100%;
}
@media screen and (min-width: 960px) {
  .section--page-events .event--image {
    width: 35%;
    flex: 0 0 35%;
  }
}
.section--page-events .event--image img {
  display: block;
  width: 100%;
}
.section--page-events .event--description {
  margin-bottom: 0;
}
.section--page-events .event--text {
  padding: 1.5rem;
  position: relative;
}
@media screen and (min-width: 960px) {
  .section--page-events .event--text {
    width: 60%;
    flex: 0 0 60%;
  }
}
.section--page-events .event--title {
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.5625em;
  font-weight: 700;
  color: #426566;
  margin-bottom: 0px;
}
.section--page-events .event--date {
  font-size: 1.25em;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-weight: 700;
  color: #426566;
  margin-bottom: 0.75rem;
}
