---
layout: layouts/page.njk
title: Project
header:
  title: The Park Project
  description: |
    Our plans for Falinge Park are being designed by the local community for the local community to bring benefits far beyond the park walls.

    Securing ownership of the park is empowering local residents to believe in the park’s potential and our blueprint is being shaped by consultations, suggestion boards, information days and user group ideas.
  image: /assets/images/facade.jpg
intro:
  title: Restoring our Victorian park
  description: |
    The project is aiming to restore current buildings within the park for the benefit of the community and develop new features which will breathe new life into this wonderful green space.
    
    When developed the park will host a myriad of activities and services run both by and for the local community whilst protecting the site’s heritage value.
---

<section class="section section--page-alert">
  Watch this space as we develop our ideas further with the help of our community
</section>

<!-- <section class="section section--page-plans">
  <div class="container">
    <div class="row">
      <div class="plan--text">
        <div class="section-pretitle">Part 1</div>
        <h3 class="section-subtitle">Creating a Victorian walkwayand tearooms</h3>
        <p>Timber pods along one side of the walkway will provide space for community uses including training, wellbeing and activities, while community landscaped planters will line the opposite side.</p>
        <p>A new cafe and tearooms will provide the space we need for people to socialise together and will also act as a bookable function space.</p>
      </div>
      <div class="plan--image">
        <img src="/assets/images/falingepark-1.jpg">
      </div>
    </div>
    <div class="row">
      <div class="plan--text">
        <div class="section-pretitle">Part 2</div>
        <h3 class="section-subtitle">Restoring the grounds</h3>
        <p>Timber pods along one side of the walkway will provide space for community uses including training, wellbeing and activities, while community landscaped planters will line the opposite side.</p>
        <p>A new cafe and tearooms will provide the space we need for people to socialise together and will also act as a bookable function space.</p>
      </div>
      <div class="plan--image">
        <img src="/assets/images/falingepark-2.jpg">
      </div>
    </div>
    <div class="row">
      <div class="plan--text">
        <div class="section-pretitle">Part 3</div>
        <h3 class="section-subtitle">Creating a Victorian village green</h3>
        <p>We plan to create a Victorian ‘village green’ on the area of land adjacent to the main road. By landscaping the area and installing wooden structures in the style of Victorian bandstands, we’ll provide a space where new local social enterprises can operate.</p>
      </div>
      <div class="plan--image">
        <img src="/assets/images/falingepark-3.jpg">
      </div>
    </div>
    <div class="row">
      <div class="plan--text">
        <div class="section-pretitle">Part 4</div>
        <h3 class="section-subtitle">Restoring the current buildings</h3>
        <p>We plan to restore the current buildings to improve theirinteriors, making them more efficient to heat and more secure.This work will restore the footprint of the current facade, creating space for community rooms, function space and a heritageinformation centre.</p>
        <p>We’ll also restore the courtyard fountain, toilets, and otheroriginal features.</p>
      </div>
      <div class="plan--image">
        <img src="/assets/images/falingepark-4.jpg">
      </div>
    </div>
  </div>
</section> -->