.post-content {
  margin-top: 8 * $base-spacing;
  margin-bottom: 8 * $base-spacing;
}

.post-index {
  margin-top: 8 * $base-spacing;
  margin-bottom: 8 * $base-spacing;
}

.posts {
  margin-bottom: 2 * $base-spacing;
}

.post-date {
  margin-top: 4 * $base-spacing;
  margin-bottom: -4 * $base-spacing;
}
.post__item {
  text-decoration: none;
}
