.post-content {
  margin-top: 8 * $base-spacing;
  margin-bottom: 8 * $base-spacing;
}

.post-index {
  margin-top: 8 * $base-spacing;
  margin-bottom: 8 * $base-spacing;
}

.posts {
  margin-bottom: 2 * $base-spacing;
}

.post-date {
  margin-top: 4 * $base-spacing;
  margin-bottom: -3 * $base-spacing;
}

.post__item {
  display: block;
  text-decoration: none;
  margin-bottom: 2 * $base-spacing;

  &__title {
    margin-bottom: 0;
    font-size: modular-scale(3);
  }

  &__date {
    color: $dark-gray;
  }
}
