<footer class="site-footer">
  <div class="container container__wide">
    <div class="footer-about">
      <img class="footer-logo" src="/assets/images/vintageworx.svg" alt="VintageWorx – Community Development Trust">
    </div>
    <div class="footer-menu">
      <h3 class="footer-menu--title">Learn more</h3>
      <nav>
        <a href="/contact/">Contact us</a>
      </nav>
    </div>
    <div class="footer-menu">
      <h3 class="footer-menu--title">Social media</h3>
      <nav>
        <a href="https://www.facebook.com/vintageworxcdt/">Facebook</a>
        <a href="https://twitter.com/falingehub">Twitter</a>
        <a href="https://www.instagram.com/vintageworxcdtrust/">Instagram</a>
      </nav>
    </div>
  </div>
</footer>