<a href="{{ project.url }}" class="home-project fades-in">
  <div class="home-project--text">
    <h2 class="home-project--title">{{ project.data.title }}</h2>
  </div>
  {% if insideColumn %}
    {% set height = 360 %}
  {% else %}
    {% set height = 750 %}
  {% endif %}
  {% srcset project.data.thumb_image.file, project.data.thumb_image.alt, "home-project--image", width, height, "(min-width: 1120px) 200px, (min-width: 720px) 66vw, 50vw", project.data.thumb_image.crop %}
</a>