<nav class="primary-navigation primary-navigation__{{ title | lower }}">
  <div class="container container__wide">
    <a href="/events/">Our events</a>
    <a href="/activities/">Our activities</a>

    <a href="/" class="primary-navigation--logo">
      <img width="932.3" height="495" src="/assets/images/vintageworx.svg" alt="VintageWorx – Community Development Trust">
    </a>
    <a href="/impact/">Our impact</a>
    <a href="/project/">Park project</a>

  </div>
</nav>